[tool.poetry]
name = "weather-provider-libraries"
version = "0.2.0"
description = ""
authors = ["Raoul Linnenbank <58594297+rflinnenbank@users.noreply.github.com>"]
readme = "README.rst"

[tool.poetry.dependencies]
python = ">=3.11, <3.13"
numpy = "^1.26.0"
loguru = "^0.7.2"
xarray = "^2023.9.0"
validators = "^0.22.0"
pyproj = "^3.6.1"
pydantic = "^2.4.2"


[tool.poetry.group.dev.dependencies]
black = "^24.3.0"
pytest = "^7.4.2"
sphinx = "^7.2.6"
myst-parser = "^2.0.0"
sphinx-rtd-theme = "^1.3.0"
coverage = "^7.3.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120

[tool.pylint."FORMAT"]
max-line-length = 120